/ %body.body
/ 	%script{type: "text/javascript"}
/ 		='var game = new Chess.Game( Chess.' + params[:white_player] + ', Chess.' + params[:black_player] +', Chess.' + params[:rule_book] + ')'
/ 		$(function() {new Chess.ChessUI(game)})

/ %div.chessboard
/ 	